body {
    background-color: #058ddc;
}
div {
    text-align: center;
}
h1 {
    font-size: 60px;
    font-family: Impact;
}
button {
    width: 250px;
    height: 80px;
    background-color: blueviolet;
    color: white;
    border-radius: 8px;
    box-shadow: 0 20px 65px rgba(87, 11, 16, 0.5);
}
button:hover {
    background-color: black;
    cursor: pointer;
}
p {
    font-size: 35px;
}
